*{
    box-sizing: content-box;
    margin: 0%;
    padding: 0%;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: purple;
}

section {
    width: 80%; /* siempre en % */
    min-width: 320px;
    max-width: 540px;
    height: 500px;
    min-height: 500px;
    margin: 0 auto;/* centra la caja section dejando los bordes automatico
    pero no en la parte superior */
    background-color: red;
}