main {
    background-color: cadetblue;
    width: 100%;
    height: 500px;
}

p {
    font-size: 18px;
    /* la medida es fija cuando se usa pixeles no va a cambiar asi se
    cambie de pantalla */
}

#porcentaje {
    font-size: 50%;/* el porcentaje se calcula con el tamaño de la letra 
    default del navegador que es de 16px */
}